<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyon.easy.async.task.dal.mysql.task.BatchTaskMapper">

<!--    <update id="updateSuccessWithCompletedSubTask">-->
<!--        update ${tablePrefix}batch_task-->
<!--            set exec_status = 1-->
<!--        <where>-->
<!--            and id = #{batchTaskId}-->
<!--            and not exist (select count(1) from ${tablePrefix}sub_task-->
<!--            <where>-->
<!--                and batch_task_id = #{batchTaskId}-->
<!--                and exec_status  <![CDATA[ <>1  ]]>-->
<!--            </where>-->
<!--            )-->
<!--        </where>-->
<!--    </update>-->
</mapper>
